* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2e4053;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 1000px;
    height: 100vh;
    margin: auto;
    padding: 30px;
}

 footer p {
    color: #a2a2b4;
    font-size: 0.8em;
 }

#title-app {
    margin-top: 80px;
    font-size: 4em;
    color: #5dade2;
}

.res {
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
}